---
const { style, class: className, width = '100%' } = Astro.props;
---

<table
  align="center"
  width={width}
  border={0}
  cellspacing={0}
  cellpadding={0}
  role="presentation"
  class={className}
  style={style}
>
  <tbody style={{ width: typeof width === 'number' ? `${width}px` : width }}>
    <tr style={{ width: typeof width === 'number' ? `${width}px` : width }}>
      <slot />
    </tr>
  </tbody>
</table>
