---
import type { IconImage, ImageModule } from '@customTypes/index';
import { Picture } from 'astro:assets';
import styles from './pageLabel.module.css';
import { generateBlurPlaceholder } from '@utils/generateBlurPlaceholder';

type Props = {
  title: string;
  iconImage: IconImage;
};

const iconImages = import.meta.glob('@assets/menuIcons/*.{jpg,png}');

const { title, iconImage } = Astro.props;

const imageImport = Object.entries(iconImages).find(([path]) =>
  path.includes(iconImage)
);

if (!imageImport) {
  throw new Error(
    `Icon image not found for: ${iconImage} in the PageLabel component`
  );
}

const ImageComponent = ((await imageImport[1]()) as ImageModule).default;
const iconPlaceholder = await generateBlurPlaceholder(ImageComponent.src, 24);
---

<div class={styles.pageLabel}>
  <div class={styles.iconAndTitle}>
    {
      iconPlaceholder && (
        <div
          class="placeholder"
          style={{
            'background-image': `url('${iconPlaceholder}')`,
          }}
        />
      )
    }
    <div class="squircle" data-with-shadow="true">
      <Picture
        aria-hidden="true"
        formats={['avif', 'webp']}
        quality="high"
        src={ImageComponent}
        alt=""
        width="96"
        height="96"
        densities={[1, 2, 3]}
        loading="eager"
        decoding="sync"
      />
    </div>
    <h1>{title}</h1>
  </div>
</div>
