---
import styles from './headerMenu.module.css';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Picture } from 'astro:assets';
import IconWork from '@assets/menuIcons/work.png';
import IconSkills from '@assets/menuIcons/skillset.png';
import IconAbout from '@assets/menuIcons/about.png';
import IconContact from '@assets/menuIcons/contact.png';
import IconShare from '@assets/menuIcons/share.png';
import LanguageToggle from '@components/languageToggle/LanguageToggle.astro';
import ThemeSwitch from '@components/themeSwitch/ThemeSwitch.astro';
import EjaasLogo from './EjaasLogo.astro';

type Props = { inert: boolean };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const { inert } = Astro.props;
---

<script>
  import { initializeKeyboardArrowNavigation } from '@utils/keyboardArrowNavigation';

  if (window.desktopMenuContainer) {
    initializeKeyboardArrowNavigation(window.desktopMenuContainer);
  }
</script>
<header inert={inert}>
  <div id="desktopMenuContainer" class={`${styles.desktopMenu} desktop-only`}>
    <span aria-keyshortcuts="ArrowLeft ArrowRight" class="sr-only">
      {t('section_with_arrow_nav')}
    </span>
    <nav aria-labelledby="desktopMenuTitle">
      <h2 class="sr-only" id="#desktopMenuTitle">
        {t('nav_desktop')}
      </h2>
      <a data-arrow-nav="true" href="/" class={styles.homeLink}
        ><EjaasLogo title={t('home')} className={styles.ejaasLogo || ''} /></a
      >
      <a data-arrow-nav="true" href="/work"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconWork}
            alt=""
            width="40"
            height="40"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div>
        <p>{t('work')}</p>
      </a>
      <a data-arrow-nav="true" href="/skills"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconSkills}
            alt=""
            width="40"
            height="40"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div><p>{t('skills')}</p></a
      >
      <a data-arrow-nav="true" href="/about"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconAbout}
            alt=""
            width="40"
            height="40"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div><p>{t('about')}</p></a
      >
    </nav>
    <div class={styles.actions}>
      <a
        data-arrow-nav="true"
        href="/contact"
        title={t('contact')}
        aria-label={t('contact')}
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconContact}
            alt=""
            width="40"
            height="40"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div></a
      >
      <a
        data-arrow-nav="true"
        href="/share"
        title={t('share')}
        aria-label={t('share')}
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconShare}
            alt=""
            width="40"
            height="40"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div></a
      >
      <div class={styles.divider}></div>
      <ThemeSwitch withGlow={false} isMobile={false} data-arrow-nav="true" />
    </div>
  </div>
  <div class={`${styles.mobileActions} mobile-only`}>
    <LanguageToggle />
    <ThemeSwitch withGlow={true} isMobile={true} />
  </div>
</header>
