---
import './headerMenu.css';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Picture } from 'astro:assets';
import IconHome from '@assets/menuIcons/ejaas.png';
import IconWork from '@assets/menuIcons/work.png';
import IconSkills from '@assets/menuIcons/skillset.png';
import IconAbout from '@assets/menuIcons/about.png';
import IconContact from '@assets/menuIcons/contact.png';
import IconShare from '@assets/menuIcons/share.png';
import LanguageToggle from '@components/languageToggle/LanguageToggle.astro';
import ThemeSwitch from '@components/themeSwitch/ThemeSwitch.astro';

type Props = { inert: boolean };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const { inert } = Astro.props;
---

<header inert={inert}>
  <div class="desktop-menu desktop-only">
    <nav aria-labelledby="desktopMenuTitle">
      <h2 class="sr-only" id="#desktopMenuTitle">
        {t('nav_desktop')}
      </h2>
      <a href="/" title={t('home')} aria-label={t('home')}
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconHome}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div></a
      >
      <a href="/work"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconWork}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div>
        <p>{t('work')}</p>
      </a>
      <a href="/skills"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconSkills}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div><p>{t('skills')}</p></a
      >
      <a href="/about"
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconAbout}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div><p>{t('about')}</p></a
      >
    </nav>
    <div class="actions">
      <a href="/contact" title={t('contact')} aria-label={t('contact')}
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconContact}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div></a
      >
      <a href="/share" title={t('share')} aria-label={t('share')}
        ><div class="squircle" data-with-shadow="true">
          <Picture
            aria-hidden="true"
            formats={['avif']}
            quality="high"
            src={IconShare}
            alt=""
            width="48"
            height="48"
            densities={[1, 2, 3, 4]}
            loading="eager"
            decoding="sync"
          />
        </div></a
      >
      <div class="divider"></div>
      <ThemeSwitch withGlow={false} isMobile={false} />
    </div>
  </div>
  <div class="mobile-actions mobile-only">
    <LanguageToggle />
    <ThemeSwitch withGlow={true} isMobile={true} />
  </div>
</header>
