---
import styles from './techSkillsMarquee.module.css';
import { getTechSkillEntries } from '@content/techSkills';
import { getLangFromUrl, useTranslatedPath } from '@i18n/utils';

type Props = Record<string, never>;

const skillIconImages = import.meta.glob('@assets/skillIcons/*.svg', {
  import: 'default',
});

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const { skill } = Astro.params;

const techSkills = getTechSkillEntries(lang);

// Process SVGs
const processedSkills = await Promise.all(
  techSkills.map(async (techSkill, index) => {
    const imageName = techSkill.imageSrc;
    const svgFile = Object.entries(skillIconImages).find(([file]) =>
      file.includes(imageName)
    );

    if (!svgFile) {
      throw new Error(`SVG not found for tech skill image: ${imageName}`);
    }

    const svgInfo = (await svgFile[1]()) as ImageMetadata;

    return {
      ...techSkill,
      svgFile: svgInfo,
      index,
    };
  })
);
---

<script>
  import { initializeTileArrowNavigation } from '@utils/marqueeKeyboardNavigation';
  import { notEmpty } from '../../customTypes';

  const scene = window.skillTileScene;

  if (scene) {
    initializeTileArrowNavigation(scene);
    // Pause animations before navigating away from the page to avoid issue
    // with "sicky" navigation on low powered devices
    window.addEventListener('beforeunload', () => {
      Array.from(scene.querySelectorAll('li'))
        .filter(notEmpty)
        .forEach((li) => {
          li.style.setProperty('animation-play-state', 'paused', 'important');
        });
    });
  }
</script>
<div class={styles.marquee} style={`--number-of-items: ${techSkills.length}`}>
  <nav
    class={styles.scene}
    id="skillTileScene"
    role="menubar"
    aria-keyshortcuts="ArrowLeft ArrowRight"
  >
    <div class={styles.skillsGrid}>
      {
        processedSkills.map(async (techSkill) => {
          if (techSkill)
            return (
              <div class={styles.skill} style={`--index: ${techSkill.index};`}>
                <a
                  href={`${translatePath(`skills/${techSkill.href}/`)}#skillPresentation`}
                  title={techSkill.title}
                  data-arrow-nav="true"
                  role="menuitem"
                  data-active={
                    skill && skill === techSkill.href ? 'true' : undefined
                  }
                >
                  <p id="lightboxTitle" class="sr-only">
                    {techSkill.title}
                  </p>
                  <div class={`${styles.outline} squircle`}>
                    <img
                      class={styles.skillImage}
                      loading="lazy"
                      src={techSkill.svgFile.src}
                      width={techSkill.svgFile.width}
                      height={techSkill.svgFile.height}
                      alt={`${techSkill.title} logo`}
                      aria-hidden="true"
                    />
                  </div>
                </a>
              </div>
            );
        })
      }
      <!-- Extra items to fill empty slots in the marquee grid. Excess items will automatically be layered below other skill cards. -->
      {
        [1, 2, 3, 4, 5].map((_placeholder, index) => (
          <div
            class={styles.skill}
            data-placeholder={true}
            style={`--index: ${index + techSkills.length};`}
          />
        ))
      }
    </div>
  </nav>
</div>
