---
import type { Language } from '@i18n/settings';
import type { BlueskyData } from '@scripts/utils';
import type { ImageModule } from '@customTypes/index';
import styles from './bluesky.module.css';
import PictureWithPlaceholder from '@components/picture/PictureWithPlaceholder.astro';
import { formatDate } from '@utils/misc';
import type { ProcessedBlueskyThread } from './utils';
import BlueskyThreadRenderer from './BlueskyThreadRenderer.astro';
import BlueskyLikes from '@components/bluesky/BlueskyLikes.astro';
import { useTranslations } from '@i18n/utils';

const blueskyImages = import.meta.glob('@assets/bluesky/*.{jpg,jpeg,png}');

type Props = {
  lang: Language;
  thread: ProcessedBlueskyThread;
  profile: BlueskyData['profile'];
};

const { lang, thread, profile } = Astro.props;

const t = useTranslations(lang, 'navigation');

if (!profile?.avatar) {
  throw new Error(`No Bluesky profile avatar found for: ${profile.avatar}`);
}

const avatar = profile.avatar;

const imageImport = Object.entries(blueskyImages).find(([path]) =>
  path.includes(avatar)
);

if (!imageImport) {
  throw new Error(`No Bluesky profile avatar found for: ${avatar}`);
}
const ImageComponent = ((await imageImport[1]()) as ImageModule).default;

const indexedAt = thread.createdAt;
const formattedTimestamp = formatDate(indexedAt, lang);
---

<li id={thread.recordKey} class={styles.thread}>
  <article class={styles.article}>
    <div class={styles.threadWrapper}>
      <aside class={styles.profileTimeline}>
        <div class={styles.profileImage} data-with-shadow="true">
          <PictureWithPlaceholder
            alt="Profile picture of the author"
            formats={['avif', 'webp']}
            quality="high"
            src={ImageComponent}
            widths={[48, 96, 144]}
            sizes="48px"
            loading="eager"
            decoding="sync"
            placeholderSettings={{ width: 8, blurSigma: 0.5 }}
            classNames={{
              placeholder: styles.profilePlaceholder,
            }}
          />
        </div>
        <div class={styles.timelineDivider}></div>
        <svg width="12" height="14" viewBox="0 0 12 14" fill="none">
          <path
            d="M1 1.5L6 6.5L11 1.5"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1 7.5L6 12.5L11 7.5"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </aside>
      <div class={styles.postWrapper}>
        <header class={styles.profileInfo}>
          <h3 class={styles.displayName}>
            {profile.displayName}
          </h3>
          {
            formattedTimestamp && indexedAt && (
              <time datetime={indexedAt} class={styles.postDate}>
                {formattedTimestamp}
              </time>
            )
          }
        </header>
        <BlueskyThreadRenderer thread={thread} />
      </div>
    </div>
    <footer class={styles.threadFooter}>
      <BlueskyLikes likes={thread.mainPost.engagement.likes} />
      <a
        class={styles.viewOnBluesky}
        href={thread.viewOnBluesky}
        aria-label={t('view_on_bluesky')}
        target="_blank"
        rel="noopener noreferrer"
      >
        <p>
          {t('view_on_bluesky')}
        </p>
        <svg width="16" height="18" viewBox="0 0 122 107">
          <path
            d="M60.9002 50.0081C66.209 38.6319 81.3772 17.3965 95.4078 7.15799C105.267 -0.42609 121.573 -6.11415 121.573 12.4669C121.573 16.2589 119.298 43.5616 118.16 48.112C113.989 63.6594 98.0622 67.4515 84.0316 65.1762C108.68 69.3475 114.747 83.378 101.475 97.0294C75.6891 123.194 64.6922 90.5829 61.6586 81.8612L61.5448 81.5199C61.2036 80.3823 61.1656 80.0031 60.7864 80.0031C60.4072 80.0031 60.4451 80.7615 60.028 81.5199L59.9142 81.8612C56.8806 90.2037 45.8837 123.194 20.0978 97.0294C6.44647 83.378 12.8929 69.3475 37.5412 65.1762C23.5107 67.4515 7.58408 63.6594 3.41284 48.112C2.27523 43.5616 0 16.2589 0 12.4669C0 -6.11415 16.3058 -0.42609 26.1651 7.15799C40.1956 17.7757 54.9846 38.6319 60.6727 50.0081H60.9002Z"
            fill="currentColor"
            opacity="0.8"></path>
        </svg>
      </a>
    </footer>
  </article>
</li>
