---
import styles from './blueskyLikes.module.css';
import Popover from '@components/popover/Popover.astro';
import type { AppBskyFeedGetLikes } from '@atproto/api';
import AvatarProfile from './AvatarProfile.astro';

type Props = {
  like: AppBskyFeedGetLikes.Like;
};

const { like } = Astro.props;
---

<Popover
  width={320}
  position="top"
  id={like.actor.did.split(':').pop() || like.actor.did}
  buttonLabel={''}
  classNames={{
    button: styles.likeProfileButton,
    wrapper: styles.popoverWrapper,
  }}
  buttonAttributes={{ ['data-arrow-nav']: 'true', role: 'menuitem' }}
>
  <div
    slot="buttonContent"
    class={styles.likeButtonContent}
    style={{
      backgroundImage: like.actor.avatar ? `url(${like.actor.avatar})` : '',
    }}
  >
  </div>
  <AvatarProfile
    description={like.actor.description}
    handle={like.actor.handle}
    displayName={like.actor.displayName}
    avatar={like.actor.avatar}
  />
</Popover>
