---
import Layout from '@layouts/Root.astro';
import FloatingBalloons from '@components/floatingBalloons/FloatingBalloons.astro';
import PageLabel from '@components/pageLabel/PageLabel.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import styles from './work.module.css';
import WorkCard from '@components/workCard/WorkCard.astro';
import FriggTechHeaderImage from '@assets/images/frigg_tech_hero.png';
import AccuRankerHeaderImage from '@assets/images/accuranker_grump_wall.jpg';
import SallingGroupHeaderImage from '@assets/images/salling_group_digital.png';
import BruceWillisHeaderImage from '@assets/images/bruce_willis_rocks.png';
import LarsEjaasComV1HeaderImage from '@assets/images/lars_ejaas_com_v1.png';
import SallingGroupFooter1 from '@assets/images/foetex_hjem_app.png';
import SallingGroupFooter2 from '@assets/images/foetex_levering_servicebud.jpg';
import SallingGroupFooter3 from '@assets/images/foetex_levering_til_doeren.png';
import AccuRankerFooter1 from '@assets/images/accuranker_footer_image_1.png';
import AccuRankerFooter2 from '@assets/images/accuranker_footer_image_2.png';
import Popover from '@components/popover/Popover.astro';
import AccuRankerLogoWithTitle from './AccuRankerLogoWithTitle.astro';
import SallingGroupLogo from './SallingGroupLogo.astro';
import FriggTechLogo from './FriggTechLogo.astro';

interface Props {
  title: string;
  inert: boolean;
}

const lang = getLangFromUrl(Astro.url);
const { title, inert } = Astro.props;
const t_work = useTranslations(lang, 'work');
---

<Layout title={title} inert={inert}>
  <!-- <div class="presentation">
    <PageLabel
      title={t_work('work_title')}
      iconImage="work"
      tagLine="work"
      taglineAlt={t_work('work_tagline')}
    />
    <h2>
      {t_work('professional_developer_journey')}
    </h2>
    <p class="body-text">{t_work('from_code_to_career')}</p>
  </div> -->
  <FloatingBalloons
    class={styles.floatingBalloons}
    balloonColor="bluemunsell"
  />
  <div class="fullgrid">
    <h2>
      {t_work('passion_projects')}
    </h2>
    <p class="body-text">{t_work('where_curiosity_meets_code')}</p>
  </div>
  <WorkCard
    inert={inert}
    id="larsEjaasComV1"
    animatedHeader
    animationDelay={2000}
    viewTransitionName="lars-ejaas-card"
    headline="larsejaas.com"
    subHeadline={t_work('larsejaas_v1_subheadline')}
    headerImage={LarsEjaasComV1HeaderImage}
    headerImageAlt={t_work('lars_ejaas_v1_image_alt')}
    date={t_work('lars_ejaas_v1_date')}
    tags={[
      { title: 'React', href: 'skills/react' },
      { title: 'JavaScript', href: 'skills/javascript' },
      { title: 'Gatsby', href: 'skills/gatsby' },
      { title: 'CSS', href: 'skills/css' },
    ]}
  >
    <p class="small-body-text">
      {t_work('lars_ejaas_com_description')}
    </p>
  </WorkCard>
  <!-- Modals can be inserted as a child here in the slot -->
  <slot />
</Layout>
