---
import { Picture } from 'astro:assets';
import type { CardInfo } from './Carousel.astro';
import styles from './carousel.module.css';
import { generateBlurPlaceholder } from '@utils/generateBlurPlaceholder';

type Props = Omit<CardInfo, 'imageSrc' | 'href'> & {
  index: number;
  image: ImageMetadata;
};

const { title, description, date, imageAlt, outline, index, image } =
  Astro.props;

const placeholder = await generateBlurPlaceholder(image.src);
---

<article class={`${styles[`outline${outline}`]} ${styles.article}`}>
  {
    placeholder && (
      <div
        class="placeholder"
        style={{
          'background-image': `url('${placeholder}')`,
        }}
      />
    )
  }
  <Picture
    formats={['avif', 'webp']}
    quality="high"
    src={image}
    alt={imageAlt}
    width="232"
    height="148"
    densities={[1, 2, 3]}
    loading="lazy"
    decoding="async"
  />
  <div class={styles.newsContent}>
    <div>
      <h3>{title}</h3>
      <p id={`articleDescription${index}`}>{description}</p>
    </div>
    <div class={styles.date}>
      <p>{date}</p>
    </div>
  </div>
</article>
