---
import styles from './workCard.module.css';
import Card from '@components/card/Card.astro';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@i18n/utils';
import type { SlugWithSkillKeys } from '@i18n/routes';
import ConditionalLink from './ConditionalLink.astro';
import WorkCardImage from './WorkCardImage.astro';
import CurrentEmploymentBadge from './CurrentEmploymentBadge.astro';
import CalendarIcon from './CalendarIcon.astro';
import CodeIcon from './CodeIcon.astro';
import type { CamelCaseString, KebabCaseString } from '@customTypes/index';

type Props<T extends string = string, U extends string = string> = {
  inert: boolean;
  headline?: string;
  subHeadline: string;
  /** Unique identifier for this card. Should be written in camelCase
   * This can also be used as an anchor to go directly to this card.
   */
  id: CamelCaseString<U>;
  date: string;
  headerImage?: ImageMetadata;
  headerImageAlt?: string;
  currentEmployment?: boolean;
  tags?: { title: string; href?: SlugWithSkillKeys }[];
  /**  distinct identifying name used for view transitions. Should be in kebab-case.
   * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/view-transition-name MDN Web Docs}
   */
  viewTransitionName: KebabCaseString<T>;
  footerImages?: {
    src: ImageMetadata;
    alt: string;
    id: string;
  }[];
  animatedHeader?: boolean;
  /** Delay in milliseconds before the animation starts */
  animationDelay?: number;
  href?: string;
  className?: string | undefined;
};

const {
  inert,
  headline,
  subHeadline,
  id,
  date,
  headerImage,
  headerImageAlt,
  currentEmployment,
  tags,
  viewTransitionName,
  animatedHeader,
  animationDelay,
  href,
  footerImages,
  className,
  /** data-attributes, etc. */
  ...rest
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang, 'navigation');

if (headerImage && !headerImageAlt) {
  console.warn(
    `<WorkCard> headerImageAlt is missing for ${headerImage.src}. This is required for accessibility.`
  );
}

footerImages?.forEach((footerImage) => {
  if (!footerImage.alt) {
    console.warn(
      `<WorkCard> footerImage.alt is missing for ${footerImage.src.src}. This is required for accessibility.`
    );
  }
});
---

<script>
  import { initializeKeyboardArrowNavigation } from '@utils/keyboardArrowNavigation';
  import { setupPaginationScroll } from './utils';
  const tagsWrappers = document.querySelectorAll('[id$="WorkCardTags"]');

  const isHTMLElementList = (
    list: NodeListOf<Element>
  ): list is NodeListOf<HTMLElement> => {
    return Array.from(list).every((item) => item instanceof HTMLElement);
  };

  if (tagsWrappers.length && isHTMLElementList(tagsWrappers)) {
    tagsWrappers.forEach((tagsWrapper) =>
      initializeKeyboardArrowNavigation(tagsWrapper)
    );
  }

  setupPaginationScroll();
</script>
<Card
  inert={inert}
  viewTransitionName={viewTransitionName}
  id={id}
  className={className}
  {...rest}
>
  {currentEmployment && <CurrentEmploymentBadge lang={lang} />}
  <div
    data-with-image={!!headerImage || undefined}
    class={`gradient ${styles.header}`}
  >
    <div class={styles.headerContent}>
      <ConditionalLink href={href}>
        {
          headerImage && (
            <WorkCardImage
              image={{ src: headerImage, alt: headerImageAlt || '' }}
              pictureAttributes={{
                class: styles.picture,
                'data-animated': animatedHeader || null,
                style: {
                  '--animation-delay': `${animationDelay || 0}ms`,
                },
              }}
            />
          )
        }
      </ConditionalLink>
      {headline && <h2>{headline}</h2>}
    </div>
  </div>
  <div class={styles.cardContent}>
    {subHeadline && <h3 class="stylized-capitalized-text">{subHeadline}</h3>}
    {
      date && (
        <div class={styles.textWithIcon}>
          <CalendarIcon />
          <p class="small-body-text">{date}</p>
        </div>
      )
    }
    <slot />
    {
      tags && (
        <div id={`${id}WorkCardTags`} class={styles.tagsWrapper}>
          <div class={styles.textWithIcon}>
            <CodeIcon />
            <p id={`${id}tagsArrowNavDescription`} class="small-body-text">
              {t('tech_stack')}
            </p>
          </div>
          <nav
            class={styles.tags}
            role="menubar"
            aria-orientation="horizontal"
            aria-keyshortcuts="ArrowLeft ArrowRight"
            aria-describedby={`${id}tagsArrowNavDescription`}
          >
            {tags.map((tag) => (
              <>
                {tag.href ? (
                  <a
                    role="menuitem"
                    data-arrow-nav="true"
                    href={`${translatePath(`${tag.href}/`)}#skillPresentation`}
                    class={styles.tag}
                  >
                    {tag.title}
                  </a>
                ) : (
                  <span role="menuitem" class={styles.tag}>
                    {tag.title}
                  </span>
                )}
              </>
            ))}
          </nav>
        </div>
      )
    }
  </div>
  {
    footerImages && (
      <div class={styles.footerImagesWrapper}>
        <ul tabindex="-1" class={styles.footerImages}>
          {footerImages.map((image) => (
            <li id={image.id}>
              <WorkCardImage
                image={image}
                pictureAttributes={{
                  class: styles.picture,
                  'data-animated': animatedHeader || null,
                }}
              />
            </li>
          ))}
        </ul>
        {footerImages?.length > 1 && (
          <div
            id={`${id}footerNavigation`}
            role="menubar"
            aria-describedby={`${id}ArrowNav`}
            aria-keyshortcuts="ArrowLeft ArrowRight"
          >
            <div
              style={{
                '--slide-length': footerImages?.length,
              }}
              class={styles.controls}
            >
              {footerImages.map((image, index) => (
                <div class={styles.control}>
                  <a
                    href={`#${image.id}`}
                    role="menuitem"
                    data-arrow-nav="true"
                    title={`${t('scroll_to_image')} ${index + 1}`}
                  >
                    <p class="sr-only">
                      {`${t('scroll_to_image')} ${index + 1}`}
                    </p>
                  </a>
                </div>
              ))}
            </div>
          </div>
        )}
      </div>
    )
  }
</Card>
