---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import styles from './footer.module.css';
import figmaLogo from './figmaLogo.svg';
import astroLogo from './astroLogo.svg';
import netlifyLogo from './netlifyLogo.svg';
import gitHubLogo from './gitHubLogo.svg';
import SocialLinks from '../socialLinks/SocialLinks.astro';
import FooterMenu from './FooterMenu.astro';
import SitemapIcon from '../icons/SitemapIcon.astro';

type Props = {
  inert: boolean;
  withModalLinks?: boolean;
};

const { inert, withModalLinks = true } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const currentYear = new Date().getFullYear();

/** Achors have tabindex=0 as this is needed in Safari to set focus on the links */
---

<footer class={styles.footer} inert={inert}>
  <div class={styles.footerContent}>
    <FooterMenu withModalLinks={withModalLinks} />
    <div class={styles.copyright}>
      <p>
        ©&nbsp;{
          currentYear === 2025
            ? `${currentYear} | Lars Ejaas`
            : `2025 - ${currentYear} | Lars Ejaas`
        }
      </p>
      <span>
        <p>
          {t('all_rights')}
        </p>
        <p>
          {t('reserved')}
        </p>
      </span>
    </div>
    <div class={styles.credentials} aria-labelledby="credentialsTitle">
      <h2 id="credentialsTitle" class="sr-only">{t('credentials')}</h2>
      <ul>
        <li>
          <a
            href="https://www.figma.com/community/file/1468706599072128229/larsejaas-com-v2"
            target="_blank"
            tabindex="0"
            rel="noopener noreferrer"
            aria-label={`${t('designed_in')} Figma`}
          >
            <p>{t('designed_in')}</p>
            <p id="lightboxTitle" class="sr-only">Figma</p>
            <div
              class={styles.footerIcon}
              style={{
                maskImage: `url(${figmaLogo.src})`,
                width: `${figmaLogo.width}px`,
                height: `${figmaLogo.height}px`,
              }}
            >
            </div>
          </a>
        </li>
        <li>
          <a
            href="https://astro.build"
            target="_blank"
            tabindex="0"
            rel="noopener noreferrer"
            aria-label={`${t('build_with')} Astro`}
          >
            <p>{t('build_with')}</p>
            <p id="lightboxTitle" class="sr-only">Astro</p>
            <div
              class={styles.footerIcon}
              style={{
                maskImage: `url(${astroLogo.src})`,
                width: `${astroLogo.width}px`,
                height: `${astroLogo.height}px`,
              }}
            >
            </div>
          </a>
        </li>
        <li>
          <a
            href="https://netlify.com"
            target="_blank"
            tabindex="0"
            rel="noopener noreferrer"
            aria-label={`${t('deployed_on')} Netlify`}
          >
            <p>{t('deployed_on')}</p>
            <p id="lightboxTitle" class="sr-only">Netlify</p>
            <div
              class={styles.footerIcon}
              style={{
                maskImage: `url(${netlifyLogo.src})`,
                width: `${netlifyLogo.width}px`,
                height: `${netlifyLogo.height}px`,
              }}
            >
            </div>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/LarsEjaas/lars-ejaas-portfolio-v2"
            target="_blank"
            tabindex="0"
            rel="noopener noreferrer"
            aria-label={`${t('repo_on')} GitHub`}
          >
            <p>{t('repo_on')}</p>
            <p id="lightboxTitle" class="sr-only">GitHub</p>
            <div
              class={styles.footerIcon}
              style={{
                maskImage: `url(${gitHubLogo.src})`,
                width: `${gitHubLogo.width}px`,
                height: `${gitHubLogo.height}px`,
              }}
            >
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class={styles.someLinks}><SocialLinks /></div>
    <a
      href="/sitemap-0.xml"
      target="_blank"
      tabindex="0"
      rel="noopener"
      aria-label={t('sitemap_label')}
      class={styles.sitemapIcon}
    >
      <SitemapIcon title={t('sitemap_label')} />
    </a>
  </div>
</footer>
