---
import Layout from '@layouts/Root.astro';
import FloatingBalloons from '@components/floatingBalloons/FloatingBalloons.astro';
import PageLabel from '@components/pageLabel/PageLabel.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import PresentationCard from '@components/presentationCard/PresentationCard.astro';
import styles from './about.module.css';
import ProfileImage from '@assets/images/profile.png';
import PhotoCards from '@components/photoCards/PhotoCards.astro';
import DrawingHouse from '@assets/aboutImages/drawing_house.png';
import { Picture } from 'astro:assets';

type Props = {
  title: string;
  inert: boolean;
};

const lang = getLangFromUrl(Astro.url);
const { title, inert } = Astro.props;
const t_about = useTranslations(lang, 'about');
---

<Layout title={title} inert={inert}>
  <div class="presentation">
    <PageLabel
      title={t_about('about_title')}
      iconImage="about"
      tagline="about"
      taglineAlt={t_about('about_tagline')}
    />
    <PresentationCard
      gradientColor="princeton"
      title={t_about('hello')}
      overlayImage={ProfileImage}
      responsiveSquircleSize={true}
      overlayImageAlt={t_about('profile_lars_alt')}
      inert={inert}
    >
      <div class={styles.presentationCardContent}>
        <h3 class="stylized-capitalized-text">{t_about('i_am')}</h3>
        <p class="small-body-text">{t_about('a_positive_and')}</p>
        <h3 class="stylized-capitalized-text">{t_about('background')}</h3>
        <ul>
          <li class="small-body-text">{t_about('bachelors_degree')}</li>
          <li class="small-body-text">{t_about('transitioned_to_a_caree')}</li>
        </ul>
        <h3 class="stylized-capitalized-text">{t_about('personal_life')}</h3>
        <ul>
          <li class="small-body-text">{t_about('a_cheerful_individual')}</li>
          <li class="small-body-text">{t_about('living_in_aarhus')}</li>
          <li class="small-body-text">{t_about('the_proud_father')}</li>
        </ul>
      </div>
    </PresentationCard>
  </div>
  <FloatingBalloons balloonColor="princeton" />
  <article class={styles.article} id="aboutArticle">
    <div class={styles.articleContent}>
      <div class={styles.textContent}>
        <h2>{t_about('a_winding_road')}</h2>
        <h3>{t_about('from_racetracks_to_code_tracks')}</h3>
        <p class="body-text">{t_about('life_rarely_follows')}</p>
        <h3>{t_about('chasing_dreams')}</h3>
        <p class="body-text">{t_about('for_13_seasons')}</p>
      </div>
      <div class={styles.imageContent}>
        <PhotoCards
          inert={inert}
          reverseRotation={true}
          imageNames={['hjørring_2011', 'cross_fredericia_2009', 'hammel_2007']}
        />
        <PhotoCards
          inert={inert}
          reverseRotation={false}
          imageNames={['dm_sønderborg_2009', 'nice_2009']}
        />
      </div>
    </div>
    <div class={styles.articleContent}>
      <div class={styles.textContent}>
        <h3>{t_about('finding_my_stride')}</h3>
        <p class="body-text">{t_about('my_thirties_saw')}</p>
      </div>
      <div class={styles.imageContent}>
        <PhotoCards
          inert={inert}
          reverseRotation={true}
          imageNames={[
            'esbjerg_2017',
            'half_marathon_aarhus_2015',
            'marselislobet_aarhus_2015',
            'aarhus_track_race_2017',
          ]}
        />
      </div>
    </div>
    <div class={styles.articleContent}>
      <div class={styles.textContent}>
        <p class="body-text">{t_about('the_pinnacle')}</p>
      </div>
      <div class={styles.imageContent}>
        <PhotoCards
          inert={inert}
          reverseRotation={false}
          imageNames={['hannover_2016_2', 'hannover_2016_1']}
        />
      </div>
    </div>
    <div class={styles.articleContent}>
      <div class={styles.textContent}>
        <h3>{t_about('an_architectural_detour')}</h3>
        <p class="body-text">{t_about('as_a_teenager')}</p>
      </div>
      <div class={styles.imageContent}>
        <Picture
          formats={['avif', 'webp']}
          quality="high"
          src={DrawingHouse}
          alt={t_about('drawing_house_alt')}
          widths={[260, 320, 440, 520]}
          sizes="(max-width: 480px) 260px, (max-width: 768px) 320px, (max-width: 1024px) 440px, 520px"
          loading="eager"
          decoding="sync"
          pictureAttributes={{
            style: {
              aspectRatio: `${DrawingHouse.width}/${DrawingHouse.height};`,
            },
            class: styles.drawingHouse,
          }}
        />
      </div>
    </div>
    <div class={styles.articleContent}>
      <div class={styles.textContent}>
        <h3>{t_about('a_lateblooming_passion')}</h3>
        <p class="body-text">{t_about('it_wasnt_until')}</p>
        <h3>{t_about('the_lesson')}</h3>
        <p class="body-text">{t_about('if_theres_one')}</p>
      </div>
    </div>
  </article>
  <!-- Modals can be inserted as a child here in the slot -->
  <slot />
</Layout>
