---
import Layout from '@layouts/Root.astro';
import styles from './privacyPolicy.module.css';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import type { DistributiveOmit } from '@customTypes/index';
import FloatingBalloons from '@components/floatingBalloons/FloatingBalloons.astro';
import type { OpenGraph } from '@customTypes/seo';
import PageLabel from '@components/pageLabel/PageLabel.astro';

type Props = {
  title: string;
  description: string;
  inert: boolean;
  seo: { openGraph: DistributiveOmit<OpenGraph, 'type'>; noIndex: boolean };
};

const { title, description, inert, seo } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'privacyPolicy');
---

<Layout
  inert={inert}
  seo={{
    metaData: { title, description },
    openGraph: {
      image: {
        name: seo.openGraph.image.name,
        alt: seo.openGraph.image.alt,
      },
    },
    ...(seo.noIndex && { noIndex: seo.noIndex }),
  }}
>
  <!-- Modals can be inserted as a child here in the slot -->
  <slot slot="body-top" />
  <div class="presentation">
    <PageLabel title={t('privacy_policy_title')} iconImage="lock" />
    <div>
      <h2>
        {t('introduction')}
      </h2>
      <p class="body-text" set:html={t('this_page_uses')} />
    </div>
  </div>
  <div class={styles.animationTimeline}>
    <FloatingBalloons class={styles.baloons} balloonColor="bluemunsell" />
    <div>
      <div class={styles.animatedText}>
        <h3>
          {t('data_collection_and_privacy')}
        </h3>
        <p class="body-text">{t('piwik_pro_stores_data')}</p>
      </div>
      <div class={styles.animatedText}>
        <h3>
          {t('analytics_usage')}
        </h3>
        <p class="body-text">{t('i_track_metrics_like')}</p>
      </div>
    </div>
    <div>
      <div class={styles.animatedText}>
        <h3>
          {t('data_storage')}
        </h3>
        <p class="body-text">{t('piwik_pro_host')}</p>
      </div>
      <div class={styles.animatedText}>
        <h3>
          {t('data_sharing_and_purpose')}
        </h3>
        <span class="body-text">{`${t('piwik_pro_does_not')} `}</span><a
          href="https://piwik.pro/privacy-policy/#product"
          target="_blank">{t('piwik_pros_privacy_policy')}</a
        >
        <span class="body-text">.</span><br /><br />
        <p class="body-text">{t('it_is_important')}</p>
      </div>
    </div>
  </div>
</Layout>
