---
import MobileMenu from '@components/mobileMenu/MobileMenu.astro';
import Footer from '@components/footer/Footer.astro';
import HeaderMenu from '@components/headerMenu/HeaderMenu.astro';
import './global.css';

interface Props {
  title: string;
  inert: boolean;
}

const { title, inert } = Astro.props;

/** Root layout should only be used directly in the index page file
 * On other pages it will be included in other layouts */
---

<!doctype html>
<html lang="en" data-dark-mode="false" data-js-enabled="false">
  <head>
    <link
      rel="preload"
      href="/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      if ('onpagereveal' in window) {
        window.onpagereveal = (event) => restoreModalScrollPosition(event);
      } else {
        document.addEventListener(
          'DOMContentLoaded',
          restoreModalScrollPosition
        );
      }
      const getStoredDarkmode = () => {
        if (
          typeof window.localStorage !== 'undefined' &&
          localStorage.getItem('ejaas_dark_mode')
        ) {
          return localStorage.getItem('ejaas_dark_mode');
        }
        return false;
      };
      // Detect dark mode before page load
      if (
        getStoredDarkmode() === 'true' ||
        window.matchMedia('(prefers-color-scheme: dark)').matches
      ) {
        document.documentElement.dataset.darkMode = 'true';
      }
      /* Show interactive elements that require JS to be enabled */
      document.documentElement.dataset.jsEnabled = 'true';

      function restoreModalScrollPosition() {
        const scrollPosition =
          Number(sessionStorage.getItem('scrollPosition')) || 0;

        const referrerIsSameHost = document.referrer.startsWith(
          window.location.origin
        );
        if (scrollPosition && referrerIsSameHost) {
          window.scrollTo({
            top: scrollPosition,
            behavior: 'instant',
          });
        }
        //check if this route includes a modal or lightbox
        const routeIncludesModal = window.modalDialog || window.lightbox;
        if (!routeIncludesModal || !referrerIsSameHost) {
          sessionStorage.removeItem('scrollPosition');
        }
      }
    </script>
    <!-- <script is:inline src="/restoreScrollPosition.min.js"></script> -->
  </head>
  <body>
    <svg aria-hidden="true" height="0">
      <defs>
        <clipPath id="squircle" clipPathUnits="objectBoundingBox"
          ><path
            d="M0,0.5 C0,0.115 0.115,0 0.5,0 s0.5,0.115 0.5,0.5 -0.115,0.5 -0.5,0.5 S0,0.885 0,0.5"
          ></path>
        </clipPath>
      </defs>
    </svg>
    <HeaderMenu inert={inert} />
    <main>
      <slot />
    </main>
    <Footer inert={inert} />
    <MobileMenu inert={inert} />
  </body>
</html>
