---
import Layout from '@layouts/Root.astro';
import FloatingBalloons from '@components/floatingBalloons/FloatingBalloons.astro';
import PageLabel from '@components/pageLabel/PageLabel.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import PresentationCard from '@components/presentationCard/PresentationCard.astro';
import styles from './skills.module.css';
import StarRating from '@components/starRating/starRating.astro';
import TechSkillsMarquee from '@components/techSkillsMarquee/TechSkillsMarquee.astro';
import type { HTMLMarqueeDescription } from '@customTypes/index';

interface Props {
  title: string;
  inert: boolean;
  skillTitle: string;
  skillDescription: HTMLMarqueeDescription;
  skillImageSrc?: ImageMetadata;
  skillImageAlt?: string;
  skillRating?: 0 | 1 | 2 | 3 | 4 | 3.5 | 0.5 | 1.5 | 2.5 | 4.5 | 5;
}

const lang = getLangFromUrl(Astro.url);
const {
  title,
  inert,
  skillTitle,
  skillDescription,
  skillImageSrc,
  skillImageAlt,
  skillRating,
} = Astro.props;
const t_skills = useTranslations(lang, 'skills');
---

<Layout title={title} inert={inert}>
  <div class={styles.presentation}>
    <PageLabel
      title={t_skills('skills_title')}
      iconImage="skillset"
      tagLine="toolkit"
      taglineAlt={t_skills('skills_tagline')}
    />
    <h2 class={styles.presentationCardTitle}>
      {t_skills('browse_my_tech_skills')}
    </h2>
    <p class="text-body">{t_skills('although_i_have')}</p>
    <PresentationCard
      gradientColor="flirt"
      title={skillTitle}
      iconImage={skillImageSrc}
      iconImageAlt={skillImageAlt}
      responsiveSquircleSize={true}
      inert={inert}
    >
      <div class={styles.presentationCardContent}>
        <div set:html={skillDescription} />
        <div class={styles.proficiencyRating}>
          {
            skillRating && [
              t_skills('proficiency_rating'),
              <StarRating rating={skillRating} />,
            ]
          }
        </div>
      </div>
    </PresentationCard>
  </div>
  <FloatingBalloons class={styles.floatingBalloons} balloonColor="flirt" />
  <TechSkillsMarquee />
  <!-- Modals can be inserted as a child here in the slot -->
  <slot />
</Layout>
