---
import Layout from '@layouts/Root.astro';
import FloatingBalloons from '@components/floatingBalloons/FloatingBalloons.astro';
import PageLabel from '@components/pageLabel/PageLabel.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import PresentationCard from '@components/presentationCard/PresentationCard.astro';
import styles from './skills.module.css';
import StarRating from '@components/starRating/starRating.astro';
import TechSkillsMarquee from '@components/techSkillsMarquee/TechSkillsMarquee.astro';
import type { SkillCategory, SkillRating } from '@customTypes/skillTypes';
import SkillCardPagination from '@components/skillCardPagination/SkillCardPagination.astro';
import type { SVGFileType, DistributiveOmit } from '@customTypes/index';
import type { OpenGraph } from '@customTypes/seo';
import TagIcon from '@components/workCard/TagIcon.astro';

type Props = {
  title: string;
  description: string;
  inert: boolean;
  techSkill: TechSkillProps;
  seo: { openGraph: DistributiveOmit<OpenGraph, 'type'>; noIndex: boolean };
};

export type TechSkillProps = {
  title: string;
  description: string | ((_props: Record<string, never>) => any);
  imageSrc?: SVGFileType;
  imageAlt?: string;
  href?: string;
  rating?: SkillRating;
  iconImage?: ImageMetadata;
  category?: SkillCategory;
};

const lang = getLangFromUrl(Astro.url);
const { title, description, inert, techSkill, seo } = Astro.props;

const {
  title: skillTitle,
  description: SkillDescription,
  iconImage,
  imageAlt: skillImageAlt,
  rating: skillRating,
  category,
} = techSkill;
const t_skills = useTranslations(lang, 'skills');
---

<Layout
  inert={inert}
  seo={{
    metaData: { title, description },
    openGraph: {
      image: {
        name: seo.openGraph.image.name,
        alt: seo.openGraph.image.alt,
      },
    },
    ...(seo.noIndex && { noIndex: seo.noIndex }),
  }}
>
  <!-- Modals can be inserted as a child here in the slot -->
  <slot slot="body-top" />
  <div class="presentation">
    <PageLabel title={t_skills('skills_title')} iconImage="skillset" />
    <div>
      <h2>
        {t_skills('browse_my_tech_skills')}
      </h2>
      <p class="body-text">{t_skills('along_the_way')}</p>
      <blockquote class={styles.quote}>
        <p class="body-text">{t_skills('one_of_the_great')}</p>
      </blockquote>
      <p class="body-text">{t_skills('read_on_to')}</p>
    </div>
  </div>
  <FloatingBalloons class={styles.floatingBalloons} balloonColor="flirt" />
  <div id="skillPresentation">
    <PresentationCard
      gradientColor="flirt"
      title={skillTitle}
      iconImage={iconImage}
      iconImageAlt={skillImageAlt}
      responsiveSquircleSize={true}
      inert={inert}
      iconImageViewTransitionName="icon-image"
      cardViewTransitionName="skill-card"
    >
      {
        category && (
          <span class={styles.label}>
            <TagIcon />
            {category}
          </span>
        )
      }
      <div class={styles.presentationCardContent}>
        {
          typeof SkillDescription === 'string' ? (
            <div set:html={SkillDescription} />
          ) : (
            <SkillDescription />
          )
        }
        {
          !!skillRating && (
            <>
              <div class={styles.divider} />
              <div class={styles.proficiencyRating}>
                <p>{t_skills('hands_on_experience_rating')}</p>
                <StarRating rating={skillRating} />
              </div>
            </>
          )
        }
      </div>
    </PresentationCard>
    <SkillCardPagination title={skillTitle} />
  </div>
  <TechSkillsMarquee />
</Layout>
