---
import Picture from 'astro/components/Picture.astro';
import styles from './balloon.module.css';
import type { BalloonConfig } from './FloatingBalloons.astro';
import type { ColorVariants } from '@customTypes/index';

type Props =
  | {
      variant: Exclude<BalloonProps['variant'], 'three'>;
      balloonColor: BalloonProps['balloonColor'];
      coverPhoto?: never;
      hasCoverPhoto?: boolean;
      config: BalloonConfig;
    }
  | {
      variant: Extract<BalloonProps['variant'], 'three'>;
      balloonColor: BalloonProps['balloonColor'];
      coverPhoto: ImageMetadata | undefined;
      hasCoverPhoto?: never;
      config: BalloonConfig;
    };

export type BalloonProps = {
  variant: 'two' | 'three' | 'four';
  balloonColor: ColorVariants;
};

const { variant, coverPhoto, balloonColor, hasCoverPhoto, config } =
  Astro.props;
---

<div
  class={styles.balloon}
  id={variant}
  style=`--xA: ${config.xA}px; --yA: ${config.xB}px; --xB: ${config.yA}px; --yB: ${config.yB}px; --duration: ${config.duration}s; --direction: ${config.direction};`
  data-princeton={balloonColor === 'princeton' ? 'true' : undefined}
  data-verdigris={balloonColor === 'verdigris' ? 'true' : undefined}
  data-flirt={balloonColor === 'flirt' ? 'true' : undefined}
  data-aquamarine={balloonColor === 'aquamarine' ? 'true' : undefined}
  data-bluemunsell={balloonColor === 'bluemunsell' ? 'true' : undefined}
  data-variant={variant}
  data-with-coverphoto={hasCoverPhoto ? 'true' : undefined}
>
  {
    coverPhoto && (
      <Picture
        aria-hidden="true"
        formats={['avif', 'webp']}
        quality="high"
        src={coverPhoto}
        alt=""
        widths={[182, 286, 398, 364, 572, 796, 546, 858, 1194]}
        sizes={`(max-width: 360px) 182px, (max-width: 564px) 286px,(max-width: 768px) 398px, (max-width: 1154px) 286px, 398px`}
        loading="eager"
        decoding="sync"
      />
    )
  }
</div>
